IoTSensorData_OnDemand rode red flows (without client creds).json
[{"id":"74f1c99f.ee0e8","type":"tab","label":"TelstraDev","disabled":false,"info":""},{"id":"d9c2206b.3032d8","type":"ibmiot out","z":"74f1c99f.ee0e8","authentication":"apiKey","apiKey":"1a0d6c1d.ede164","outputType":"cmd","deviceId":"mkr2","deviceType":"mkr","eventCommandType":"trig","format":"text","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":400,"y":100,"wires":[]},{"id":"98b0deb0.3f318","type":"inject","z":"74f1c99f.ee0e8","name":"","topic":"","payload":"on","payloadType":"str","repeat":"30","crontab":"","once":true,"onceDelay":"5","x":250,"y":100,"wires":[["d9c2206b.3032d8"]]},{"id":"7a7ceb97.d2ad4c","type":"comment","z":"74f1c99f.ee0e8","name":"trigger device","info":"","x":350,"y":40,"wires":[]},{"id":"cb24077a.7ec81","type":"ibmiot in","z":"74f1c99f.ee0e8","authentication":"apiKey","apiKey":"1a0d6c1d.ede164","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"mkr2","applicationId":"","deviceType":"mkr","eventType":"sensor","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":220,"y":240,"wires":[["43ca6975.cc5ee8"]]},{"id":"43ca6975.cc5ee8","type":"function","z":"74f1c99f.ee0e8","name":"Store Global Variables","func":"\nglobal.set(\"temp\",msg.payload.temp);\nglobal.set(\"humidity\",msg.payload.humidity);\nglobal.set(\"pressure\",msg.payload.pressure);\nglobal.set(\"light\",msg.payload.illuminance);\nglobal.set(\"uv\",msg.payload.uvi);\nglobal.set(\"time\", Date.now());\n\nmsg.payload.dt = Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["4410cc4f.15b6d4"]]},{"id":"4410cc4f.15b6d4","type":"debug","z":"74f1c99f.ee0e8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":240,"wires":[]},{"id":"c6411e93.446f78","type":"comment","z":"74f1c99f.ee0e8","name":"Store Data from device","info":"","x":360,"y":180,"wires":[]},{"id":"f0c442d3.6d78d","type":"comment","z":"74f1c99f.ee0e8","name":"User SMS in","info":"","x":350,"y":300,"wires":[]},{"id":"34ae918f.21cae6","type":"http in","z":"74f1c99f.ee0e8","name":"SMS in","url":"/sms","method":"post","upload":false,"swaggerDoc":"","x":230,"y":360,"wires":[["26165ace.ec971e","365f8636.6ed3a2"]]},{"id":"26165ace.ec971e","type":"debug","z":"74f1c99f.ee0e8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":420,"wires":[]},{"id":"365f8636.6ed3a2","type":"function","z":"74f1c99f.ee0e8","name":"match response","func":"msg.sms = msg.payload;\n\nmatchWord = msg.sms.body.toLowerCase().trim();\n\ndt = ((Date.now() - global.get(\"time\")) / 1000)\n\nif (matchWord==\"temp\"){\n    msg.resp = \"The Temp is \"+global.get(\"temp\")+\" celcius.\";    \n} else if (matchWord==\"humidity\"){\n    msg.resp = \"The humidity is \"+global.get(\"humidity\")+\"%.\";\n} else if (matchWord==\"pressure\"){\n    msg.resp = \"The pressure is \"+global.get(\"pressure\")+\".\";\n} else if (matchWord==\"light\"){\n    msg.resp = \"The light is \"+global.get(\"light\")+\" lux.\";\n} else if (matchWord==\"uv\"){\n    msg.resp = \"The UV index is at \"+global.get(\"uv\")+\".\";\n} else {\n    msg.resp = \"Help menu > Respond back with one of the following. \\n\\nHumidity, Temp, UV or Light.\";\n}\n\nmsg.resp = msg.resp + \" Last updated \"+Math.floor(dt)+\" seconds ago.\";\n\nmsg.smsout = { \n    \"to\": msg.sms.from,\n    \"body\": msg.resp\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["5a337b36.1672fc"]]},{"id":"5a337b36.1672fc","type":"link out","z":"74f1c99f.ee0e8","name":"SMS Out","links":["3ff95fca.68dc18","87702072.4d4708"],"x":535,"y":360,"wires":[]},{"id":"95cff8d7.c3b728","type":"function","z":"74f1c99f.ee0e8","name":"Get a token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded'\n};\nmsg.url = \"https://tapi.telstra.com/v2/oauth/token\"\nmsg.payload = {\n    'client_id': 'INSERT_HERE',\n    'client_secret': 'INSERT_HERE',\n    'grant_type': 'client_credentials'\n};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["8addfecc.44b7c"]]},{"id":"8addfecc.44b7c","type":"http request","z":"74f1c99f.ee0e8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":540,"wires":[["a52a6b2f.61d1e"]]},{"id":"87702072.4d4708","type":"link in","z":"74f1c99f.ee0e8","name":"SMS Send","links":["5a337b36.1672fc"],"x":135,"y":540,"wires":[["95cff8d7.c3b728"]]},{"id":"a52a6b2f.61d1e","type":"json","z":"74f1c99f.ee0e8","name":"","property":"payload","action":"","pretty":false,"x":610,"y":540,"wires":[["b2b4b080.e54ca8","a440b565.324ca"]]},{"id":"b2b4b080.e54ca8","type":"debug","z":"74f1c99f.ee0e8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":540,"wires":[]},{"id":"a440b565.324ca","type":"function","z":"74f1c99f.ee0e8","name":"Send SMS","func":"msg.headers = {\n    'Authorization': 'Bearer ' + msg.payload.access_token,\n    'Content-Type': 'application/json'\n};\nmsg.url = \"https://tapi.telstra.com/v2/messages/sms\"\nmsg.payload = {\n    'to': msg.smsout.to,\n    'body': msg.smsout.body\n};\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":620,"wires":[["31e38e1d.53090a"]]},{"id":"31e38e1d.53090a","type":"http request","z":"74f1c99f.ee0e8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":620,"wires":[["396f0dcf.bccdfa"]]},{"id":"396f0dcf.bccdfa","type":"debug","z":"74f1c99f.ee0e8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":620,"wires":[]},{"id":"f6291cb9.e5187","type":"comment","z":"74f1c99f.ee0e8","name":"TelstraDev Authenticate and Send SMS","info":"","x":390,"y":480,"wires":[]},{"id":"1a0d6c1d.ede164","type":"ibmiot","z":"","name":"Watson IOT","keepalive":"60","serverName":"43wcdg.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]